## Branje tekstovnih datotek in shranjevanje podatkov v tabelo

In [1]:
import os
directory = 'C:\\Users\\gogi1\\Desktop\\diploma\\ParlaMint-SI\\ParlaMint-SI.txt'
files = []

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f) and f[-1]=='t':
        files.append(f)

In [2]:
len(files)

415

In [3]:
import re
data = []
directory = 'C:\\Users\\gogi1\\Desktop\\diploma\\ParlaMint-SI\\ParlaMint-SI.txt'

for file in files[1:]:
    with open(file, encoding='utf-8') as f:
        lines = f.readlines()
        for line in lines:
            datum = line[13:23]
            vrsta = line[29:34]
            tekst = line[41:]
            tekst = re.sub('[^A-Z\Č\Š\Ž\Ća-z\č\š\ž\ć]+', ' ', tekst)
            tekst = tekst.strip()
            data.append([tekst, datum, vrsta])

In [4]:
len(data)

75122

In [5]:
import pandas as pd
df = pd.DataFrame(data, index=None, columns=['Tekst', 'Datum', 'Vrsta'])

In [6]:
df

                                                   Tekst       Datum  Vrsta
0      Spoštovani prosim da zasedete svoja mesta V na...  2014-08-01  Redna
1      Hvala za besedo predsedujoča Spoštovani predse...  2014-08-01  Redna
2      Zahvaljujem se spoštovanemu gospodu Janku Vebr...  2014-08-01  Redna
3      Spoštovana gospa predsedujoča spoštovane posla...  2014-08-01  Redna
4      Predsedniku republike spoštovanemu gospodu Bor...  2014-08-01  Redna
...                                                  ...         ...    ...
75117               Hvala lepa Jože Lenart želite besedo  2020-07-16  Izred
75118  Ja hvala lepa Spoštovane kolegice in kolegi Ko...  2020-07-16  Izred
75119  Hvala lepa Kot zadnji ima besedo predstavnik V...  2020-07-16  Izred
75120  Drage poslanke in poslanci Vsem vam privoščim ...  2020-07-16  Izred
75121  Hvala lepa Zaključujem splošno razpravo in pre...  2020-07-16  Izred

[75122 rows x 3 columns]

## Preprocesiranje
### Pretvorba v male črke

In [7]:
df['Tekst'] = df['Tekst'].apply(lambda x: ' '.join(x.lower().split()))

In [8]:
df.sample(5)

                                                   Tekst       Datum  Vrsta
3152   spoštovani gospod predsednik gospod minister l...  2014-12-16  Redna
59172  hvala lepa predsedujoča za besedo lep pozdrav ...  2019-04-15  Redna
34650  no moram reči da na dogovoru vodij poslanskih ...  2017-01-23  Redna
12200                  besedo ima gospa andreja potočnik  2015-07-10  Redna
73673  hvala za besedo gospa podpredsednica prav lepo...  2020-06-17  Redna

### Odstranjevanje 'stop words' iz besedila

In [9]:
from nltk.corpus import stopwords

In [10]:
stop_words = stopwords.words('slovene')

In [11]:
stop_words[:10]

['ali',
 'ampak',
 'bodisi',
 'in',
 'kajti',
 'marveč',
 'namreč',
 'ne',
 'niti',
 'oziroma']

In [12]:
stop_words = set(stop_words)

In [13]:
df['Tekst'] = df['Tekst'].apply(lambda x: ' '.join([t for t in x.split() if t not in stop_words]))

In [14]:
df.head()

                                               Tekst       Datum  Vrsta
0  spoštovani prosim zasedete mesta sredini pozdr...  2014-08-01  Redna
1  hvala besedo predsedujoča spoštovani predsedni...  2014-08-01  Redna
2  zahvaljujem spoštovanemu gospodu janku vebru p...  2014-08-01  Redna
3  spoštovana gospa predsedujoča spoštovane posla...  2014-08-01  Redna
4  predsedniku republike spoštovanemu gospodu bor...  2014-08-01  Redna

In [16]:
df.to_csv('dataframe.csv', encoding='utf-8', index=False)